<head>
    <meta charset="UTF-8">
    {% include "style.html" %}
    <title>Project Name</title>
</head>
<body>
    {% include "menu.html" %}
<hr>
{% if user.is_authenticated %}
Hello {{user.username}}
</br>
{% block contetnt %}{% endblock contetnt %}
{% else %}
Please log in
{% block anon_contetnt %}{% endblock anon_contetnt %}
{% endif %}
    <div class="container">
        {% block container %}
        {% endblock container %}
    </div>
</body>
<footer class="footer-bottom">
    <hr>
    <div class="text-center">
        <p>app 2021 &copy;</p>
    </div>
</footer>
</html> 